@media screen and (max-width:700px) {
    header nav img {
        width: 100px;
        height: 50px;
    }

    .porfolio iframe {
        width: 355px;
        height: 200px;
    }

    .datos img {
            margin: 10px;
            width: 300px;
            height: 150px;}

}